<!-- INCLUDE overall_header.html -->

<br />
<a name="page-top"></a>

<!-- BEGIN messages -->
      <div class="panel bg2">
            <div class="inner">
                  <span class="corners-top"><span></span></span>
                  <div class="content">
                        <h2><a name="p{messages.ID}"></a>{messages.TITLE}</h2></div>
                        <div class="content" style="font-size:1.2em;">{messages.CONTENT}</div>
                  <span class="corners-bottom"><span></span></span>
            </div>
      </div>
      <div style="padding: 8px;text-align:right;">» <a href="#wrap">Top</a> «</div>
      <br />
<!-- END messages -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->