<!-- INCLUDE overall_header.html -->

<br />
<a name="page-top"></a>

	<!-- BEGIN messages -->
      	<table class="tablebg" width="100%" cellspacing="1">
      		<tr>
      			<td class="cat">{messages.TITLE}&nbsp;</td>
      		</tr>
      	</table>
      	<table class="tablebg" width="100%" cellspacing="1">
      		<tr>
      			<td class="row1">
      				<div class="postbody" align="justify">{messages.CONTENT}</div>
      			</td>
      		</tr>
      	</table>
		<div style="padding: 8px;" align="right">» <a href="#page-top">Top</a> «</div>
		<br />
	<!-- END messages -->

      </td>
   </tr>   
</table>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->